* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: RALEWAY, sans-serif; }

body {
  background-image: radial-gradient(circle at 34.03% 77.66%, #efffff 0, #deffff 12.5%, #cbfffb 25%, #b5fbf6 37.5%, #9df2f2 50%, #83e9ef 62.5%, #68e0ee 75%, #4bd7ef 87.5%, #27cff0 100%);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  min-height: 100vh; }

header,
footer {
  background-color: #333;
  color: #fff !important; }

a {
  text-decoration: none;
  color: #251f1e; }

.logo a {
  width: auto;
  max-width: none;
  padding: 0;
  margin: 0;
  display: inline-flex;
  font-size: 30px;
  font-weight: 700;
  color: #fff;
  align-items: center;
  height: 10vh;
  text-decoration: none; }

.carousel {
  display: flex;
  justify-content: center; }
  .carousel-item {
    object-fit: scale-down;
    height: 50vh; }
  .carousel-caption {
    position: sticky;
    text-decoration-style: solid;
    font-weight: bolder;
    color: #251f1e; }

.footer {
  bottom: 0;
  width: 100%;
  position: absolute;
  padding: 30px;
  display: flex; }
  .footer-responsive {
    display: flex;
    flex-wrap: wrap; }
  .footer i {
    color: #fff; }
    .footer i:hover {
      color: #251f1e;
      transform: scale(1.3);
      transition: 0.4s; }

.redes-item {
  display: flex;
  justify-content: left;
  align-items: center; }

.map {
  display: flex;
  justify-content: right; }

iframe {
  display: block;
  border: none;
  height: auto; }

.header {
  font-size: 8vh;
  display: flex;
  justify-content: center;
  align-items: center; }
  .header-desk {
    display: flex; }

.navbar {
  height: 10vh;
  width: 100%;
  justify-content: space-around; }
  .navbar .navbar-nav {
    display: flex;
    justify-content: space-between; }
    .navbar .navbar-nav .navbar-button {
      display: flex;
      justify-content: center;
      align-items: center; }
    .navbar .navbar-nav .nav-item {
      color: #251f1e;
      text-decoration: none; }
    .navbar .navbar-nav .nav-link {
      color: #fff !important; }
      .navbar .navbar-nav .nav-link:hover {
        color: #251f1e;
        transform: scale(1.3);
        transition: 0.4s; }
