$color-gris1: #251f1e;

.carousel {
  display: flex;
  justify-content: center;

  &-item {
    object-fit: scale-down;
    height: 80% !important;
  }

  &-caption {
    position: sticky;
    text-decoration-style: solid;
    font-weight: bolder;
    color: $color-gris1;
  }
}
