$color-blanco: #fff;

.footer {
  bottom: 0;
  width: 100%;
  position: relative;
  padding: 30px;
  margin-top: 30px;
  display: flex;

  &-responsive {
    display: flex;
    flex-wrap: wrap;
  }

  i {
    color: $color-blanco;

    &:hover {
      color: $color-gris1;
      transform: scale(1.3);
      transition: 0.4s;
    }
  }
}

.redes-item {
  display: flex;
  justify-content: left;
  align-items: center;
}
.map {
  display: flex;
  justify-content: right;
}

iframe {
  display: block;
  border: none;
  height: auto;
}
