$navbar-height: 10vh;
$navbar-width: 85%;
$color-gris1: #251f1e;
$color-blanco: #fff;

.navbar {
  height: $navbar-height;
  width: $navbar-width;
  justify-content: space-around;

  .navbar-nav {
    display: flex;
    justify-content: space-between;

    .navbar-button {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .nav-item {
      color: $color-gris1;
      text-decoration: none;

      &:hover {
        color: $color-gris1;
      }
    }

    .nav-link {
      color: $color-blanco !important;
    }
  }
}
