$color-primary: #251f1e;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #251f1e;
  font-family: RALEWAY, sans-serif;
}

body {
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  min-height: 100vh;
}

@import "scss/mixins";
@import "scss/header";
@import "scss/navbar";
@import "scss/footer";
