*  {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: tomato;
  font-family: RALEWAY, sans-serif;
}

body {
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  min-height: 100vh;
}

.header {
  font-size: 8vh;
}

.navbar {
  height: 10vh;
}

.navbar-nav {
  display: flex;
  justify-content: space-around;
  width: 100vw;
}

.navbar-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-item {
  color: tomato;
  text-decoration: none;
}

a:hover {
  color: tomato;
  transform: scale(1.5);
  transition-duration: 400ms;
}

a {
  text-decoration: none;
  color: tomato;
}

main {
  height: 60vh;
}

.cita {
  font-style: italic;
}

.form {
  height: 60vh;
  align-items: center;
}

.footer {
  bottom: 0;
  width: 100%;
  position: static;
}

.redes {
  display: grid;
  justify-content: stretch;
}

.redes-item {
  display: flex;
  justify-content: right;
}

.volumen {
  display: flex;
  justify-content: left;
}
