*  {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: tomato;
  font-family: RALEWAY, sans-serif;
}

body {
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  min-height: 100vh;
}

.header {
  font-size: 8vh;
}

.navbar {
  display: grid;
  justify-content: space-around;
  align-items: center;
  height: 10vh;
}

.nav-item {
  color: tomato;
}

a {
  text-decoration: none;
  color: tomato;
}

.cita {
  font-style: italic;
}
.form {
  height: 60vh;
  align-items: center;
}
.footer {
  position: relative;
  bottom: 0;
  width: 100%;
}

.redes {
  display: grid;
  justify-content: stretch;
}

.volumen {
  display: flex;
  justify-content: left;
}
