body {
  font-family: RALEWAY, sans-serif;
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: tomato;
  position: relative;
  min-height: 100vh;
}

.grid-container {
  display: grid;
  grid-template-rows: 200px 80px 300px 50px;
}

.header {
  font-size: 8vh;
}

.nav {
  display: grid;
  justify-content: center;
}

.menu {
  text-align: center;
}

.main {
  display: grid;
  align-content: space-around;
  text-align: center;
}

a {
  text-decoration: none;
  color: tomato;
}

.titulo-servicios {
  display: grid;
  grid-template-rows: 150px;
}
.servicios {
  display: grid;
  grid-template-rows: 90px 90px 90px 90px;
  align-content: space-around;
  text-align: center;
}

.form {
  height: 60vh;
  align-items: center;
}
.footer {
  position: relative;
  bottom: 0;
  width: 100%;
}

.redes {
  display: grid;
  justify-content: stretch;
}

.volumen {
  display: flex;
  justify-content: left;
}
